@import "tailwindcss";

@theme {
  /* Change the "indigo" color to a custom brand purple */
  --color-indigo-600: #7c3aed;
  --color-indigo-700: #6d28d9;
  
  /* Add a brand new color called "brand" */
  --color-brand: #00d4ff;
  
  /* You can even change the default font here */
  --font-sans: "Inter", ui-sans-serif, system-ui;
}